{
  "name": "<<.AppName>>",
  "port": 8080,
  "base_domain": "<<.AppName>>.local:8080",

  "sessions": {
    "store": {
      "type": "db",
      "config": {
        "type": "sqlite",
        "config": {
          "path": "./data/<<.AppName>>.db"
        }
      }
    }
  },
  "database": {
    "type": "sqlite",
    "config": {
        "path": "./data/<<.AppName>>.db"
    }
  },
  "modules": {
    "mail": {
      "delivery_method": "log"
    }
  }
}