{
  "name": "<<.AppName>>",
  "port": 8080,
  "base_domain": "<<.AppName>>.local:8080",

  "sessions": {
    "store": {
      "type": "sqlite",
      "config": {
        "path": "./data/<<.AppName>>.db"
      }
    }
  }
}